body {
    background-color:rgb(60,160,90);
}
.game_field, .message_box, .title {
    background-color: white;
    margin: 20px;
    border: solid 4px black;
    border-radius: 10px;
    text-align: center;
}
.title {
    width: 700px;
}
.game_field {
    width: 700px;
    float: left;
}
.message_box {
    width: 200px;
    height: 200px;
    float: right;
    overflow: scroll;
    margin-right: 100px;
}
p, div {
    padding: 1px;
    margin: 0;
}

h3 {
    padding: 1px;
    margin: 1px;
}

.hit, .stand, .double_down {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: solid black 2px;
    margin: 10px;
    width: 50px;
    background-color: #FFDE00;
    color: #097054;
    display: none;
}