
@media screen and (max-width: 800px) {
    .container{
        max-width: 600px;
    }

    .project_content{
        min-height: 0;
    }

    .project_image img{
        /*display: none;*/
        position: static;
        margin-bottom: 20px;
        width: 240px;
        height: 240px;
    }

    .img_link{
        position: static;
    }

    .about_content, .project_content{
        font-size: 18px;
    }

    #mobile_check_div{
        display: none;
    }

    #back_to_top{
      display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .container{
        max-width: 400px;
    }

    .nav_tab{
        font-size: 16px;
        padding: 2px 6px;
    }

    .footer_content{
        display: block;
    }

    #back_to_top{
      font-size: 14px;
    }
}
