@font-face{
	font-family: 'SF';
	src: url('SF Intellivised.ttf');
}
*{
	margin: 0;	
}
body{
	font-family: SF;
}
.heading{
	text-align: center;
	background: url("bar_background.jpg");
	height: 130px;
	color: white;
	z-index: 10;
	position: relative;
}
.heading h1{
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 30px;
}
.heading h4{
	font-size: 12px;
	border: 3px solid skyblue;
	display: inline;
	padding: 4px;
	font-family: arial;
}
.sidebar{
	background: url("bar_background.jpg");
	width: 100px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.background img{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: -2;
}
.navigtion{
	width: 200px;
	float: left;
	border: 5px double white;
	z-index: 20;
	position: relative;
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
	position: absolute;
	top: 150px;
	left: 70px;
	background-color: rgba(100,100,100,.5);
}
.navigtion p{
	padding-bottom: 20px;
	text-shadow: 12px 12px 3px rgb(255,255,200);
	line-height: 30px;
}
.navigtion a{
	-webkit-text-stroke: .35px black;
}
.cool_stuff{
	margin-right: 100px;
	background-color: rgba(100,100,100,.8);
	color: white;
	padding: 15px;	
	border-radius: 15px;
	border: 5px double white;
	position: absolute;
	z-index: 30;
	top: 470px;
	left: 70px;
	text-indent: 20px;
	font-size: 18px;
	font-family: monaco;
	max-width: 600px;
}
a{
	text-decoration: none;
	color: rgb(200,200,255);
}
.cool_stuff a{
	color: blue;
}
.cool_stuff p{
	padding-bottom: 15px;
}
audio{
	padding-bottom: 15px;
}