/*palette used: http://www.colourlovers.com/palette/468540/TWLOHA*/

body{
    font-family: arial;
    text-align: center;
    background-color: rgb(245,248,250);
}

a{
    color: rgb(0,153,255);
    background-color: white;
    text-decoration: none;
    padding: 0;
    transition: color 75ms linear;
}

a:hover{
    color: rgba(0,153,255,0.75);
}

.inline_a_tag{
    padding: 0 2px;
}

.inline_a_tag:hover{
    padding: 0 2px;
}

#content_container{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container{
    max-width: 800px;
    margin: auto;
}

.about, .project_container, .header{
    border-bottom: solid 1px rgb(218,222,224);
    position: relative;
}

.header{
    padding: 16px 0;
    font-size: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
}

.about_content, .project_content{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    line-height: 28px;
}

.project_content{
    max-width: 570px;
}

.about_content{
    text-indent: 36px;
}

.about_header, .project_header, .websites_header, .other_projects_header, .competitions_header{
    font-size: 30px;
}

.about_header, .websites_header, .other_projects_header, .competitions_header{
    padding: 14px 0 10px;
    border-bottom: solid 1px rgb(218,222,224);
    margin-top: 0;
}

.project_content{
    min-height: 180px;
}

.project_image img{
    width: 180px;
    height: 180px;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    transition: all 200ms ease;
}

.img_link{
    position: absolute;
    top: 60px;
    left: 600px;
}

.img_link:hover{
    padding: 0;
    background-color: rgba(255,255,255,0);
}

.about, .websites, .other_projects, .competitions{
    background-color: white;
}

.nav{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 40px;
}

.nav_tabs{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.nav_tab{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.nav_tab:hover{
    background-color: rgb(238,242,244);
}

.nav_selected{
    background-color: rgb(238,242,244);
}

.tab{
    display: none;
}

.footer_content{
    display: inline;
    margin: 0 30px;
    padding-bottom: 30px;
    position: relative;
    top: 40px;
}

.footer_content a{
    background-color: rgb(245,248,253);
}

#mobile_check_div{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#back_to_top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 6px;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
  display: none;
  cursor: pointer;
  background-color: rgb(218,222,224);
}
