/*palette used: http://www.colourlovers.com/palette/468540/TWLOHA*/

/*
========================================
             general
========================================
*/
body{
    font-family: arial;
    text-align: center;
    background-color: rgb(245,248,250);
}

a{
    color: rgb(0,153,255);
    background-color: white;
    text-decoration: none;
    padding: 0 2px;
    transition: color 75ms linear;
}

a:hover{
    color: rgba(0,153,255,0.75);
}

.header, .nav, #content_container{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*
========================================
             header
========================================
*/
.header{
    padding: 16px 0;
    font-size: 40px;
    background-color: white;
}

/*
========================================
              nav
========================================
*/
.nav{
  background-color: white;
  margin-bottom: 30px;
}

.nav_tabs{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.nav_tab{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.nav_tab:hover{
    background-color: rgb(238,242,244);
}

.nav_selected{
    background-color: rgb(238,242,244);
}

/*
========================================
             content
========================================
*/
.container{
    max-width: 800px;
    margin: auto;
}

.tab{
    display: none;
    background-color: white;
}

.subheader{
    padding: 14px 0 10px;
    margin-top: 0;
}

.subheader, .project_header{
    font-size: 30px;
}

.project_container{
    position: relative;
}

.img_content{
  max-width: 570px;
  min-height: 180px;
}

.tab img {
  width: 180px;
  height: 180px;
  color: black;
  position: absolute;
  top: 60px;
  left: 600px;
  background-color: white;
  z-index: 10;
  transition: all 200ms ease;
}

.tab p {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  line-height: 28px;
}

#about_tab p {
  text-indent: 36px;
  margin: 20px;
}

#about_tab, .project_container, .subheader {
  border-bottom: 1px solid rgb(218,222,224);
}

/*
========================================
             footer
========================================
*/
footer {
  padding-bottom: 60px;
}

.footer_content{
    display: inline;
    margin: 0 30px;
    padding-bottom: 30px;
    position: relative;
    top: 40px;
}

.footer_content a{
    background-color: rgb(245,248,253);
}

/*
========================================
              misc
========================================
*/
#mobile_check_div{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#back_to_top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 6px;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
  display: none;
  cursor: pointer;
  background-color: rgb(218,222,224);
}
