/*General*/

@font-face{
	font-family: 'monaco';
	src: url('Monaco.ttf');
}

/*http://www.colourlovers.com/palette/27905/threadless*/

/*@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:700);*/

body{
    margin: 0;
    font-family: 'monaco';
}

/*title*/

.titleContainer h1{
    padding: 6px 0 0 0;
    margin: 0;
}

.titleContainer{
    background-color: rgb(156,196,228);
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 20;
}

.quote{
    padding: 4px 0 6px 0;
    margin: 0;
    position: relative;
}

/*navigation*/

.navBar{
    width: 100px;
    height: 400px;
    background-color: rgb(58,137,201);
    position: fixed;
    z-index: 15;
}

.navList, .subNavList{
    list-style: none;
    margin: 0;
    padding: 10px;
    position: absolute;
}

.navList li, .subNavList li{
    padding-top: 10px;
}

.navItem, .subNavItem{
    cursor: pointer;
    color: black;
}

.subNavItem {
    position: relative;
    text-decoration: none;
    color: white;
}

.subNavBar {
    position: fixed;
    width: 100px;
    height: 400px;
    left: 0;
    background-color: rgb(27,50,95);
    z-index: 10;
}

/*content*/

.contentContainer {
    left: 100px;
}

.contentContainerMain{
    z-index: -10;
    background-color: rgba(233,242,249,0);
    position: absolute;
}

.contentContainerShadow{
    box-shadow:7px 10px 6px -4px black inset;
    z-index: 0;
    background-color: rgba(255,255,255,1.0);
    position: fixed;
    width: 100%;
}

.contentBox{
    padding: 10px;
    position: relative;
}

.contentContent{
    text-indent: 10px;
    max-width: 600px;
}

.pageContent {
    position: absolute;
    visibility: hidden;
}

.contentBox a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}