* {
	font-family: 'Alegreya', serif;
}
.img_container {
    margin: 0 auto;
    width: 650px;
}
#dropDown, #wrap {
	height: 10px;
	width: 650px;
	margin: 0 auto;
}
.itemSelect {
	position: relative;
	width: 100px;
	text-align: left;
	font-size: 18px;
	border: solid gray 2px;
	background-image: linear-gradient(to top, #F2F7F2 0%, #FFFFFF 100%);
	padding: 2px 10px;
}
.itemSelect:hover {
	border-color: rgb(24,122,92);
	cursor: pointer;
}
#selectFrom{
    top: 80px;
}
#selectTo{
    top: 17px;
    left: 186px;
}
#swapLanguages {
    position: relative;
    left: 134px;
    top: 48px;
    width: 28px;
    height: 28px;
    background-image: url('swap.png');
    background-size:20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(245,250,245)
    cursor:pointer;
    border: solid gray 2px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}
#swapLanguages:hover {
	border-color: rgb(24,122,92);
}
#textAreaId {
    top: 115px;
    left: 0px;
    background-color: rgba(255,255,255);
    resize: none;
    font-size: 14px;
}
#textAreaId:hover {
    box-shadow: inset 0 0 4px gray;
}
#textAreaId:focus {
    outline: rgb(64,173,112) solid thin !important;
    box-shadow: none;
    border-color: rgb(64,173,112);
}
#translationTest, #textAreaId {
	position: relative;
    width: 300px;
    height: 100px;
    border: solid lightgray 1px;
    padding: 4px;
}
#translationTest {
    background-color: rgb(230,230,230);
    top: -13px;
    left: 340px;
}
.translate_btn {
    color: white;
	padding: 6px;
	font-size: 20px;
	position: relative;
	top: 160px;
	left: -44px;
	background-color: rgb(64,201,39);
	width: 110px;
	border: solid rgb(24,122,92) 2px;
	border-radius: 4px;
    cursor: pointer;
}