* {
    font-family: 'Signika Negative', sans-serif;
}
.itemSelect {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
    color: rgb(70,20,20);
    text-align: center;
    padding: 6px 14px;
    border: solid rgb(132,184,161) 2px;
    cursor:pointer;
    position: relative;
    font-size: 18px;
    width: 100px;
    text-align: left;
}
.itemSelect:active {
    background-image: linear-gradient(to top, #FFFFFF 0%, #EDEDED 100%);
}
.itemSelect:hover, #swapLanguages:hover{
    border: solid rgb(57,115,196) 2px;
}
#dropDown, #wrap {
    width:600px;
    margin: 0 auto;
}
#selectFrom{
    left: 38px;
    top: 260px;
}
#selectTo{
    top: 184px;
    left: 406px;
}
#swapLanguages {
    position: relative;
    top: 222px;
    left: 266px;
    width: 34px;
    height: 34px;
    background-image: url('swap.png');
    background-size:20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(245,245,245);
    border: solid rgb(132,184,161) 2px;
}
#translationTest {
    position: relative;
    top: -108px;
    left: 366px;
    width: 200px;
    height: 104px;
    background-color: lightgray;
    border: solid rgb(210,210,210) 2px;
}
#textAreaId {
    position: relative;
    left: 0;
    top: 20px;
    width: 200px;
    height: 100px;
    resize: none;
    border: solid rgb(210,210,210) 2px;
    font-size: 16px;
}
.translate_btn {
    background-image: linear-gradient(to bottom, #F2FFF9 0%, #C4FFE6 100%);
    padding: 10px;
    font-size: 22px;
    position: relative;
    top: -30px;
    left: 16px;
    border-color: rgb(132,184,161);
}
.translate_btn:hover {
    border-color: rgb(57,115,196);
    cursor: pointer;
}
.translate_btn:active{
    background-image: linear-gradient(to top, #F2FFF9 0%, #C4FFE6 100%);
}