body {
	background-color: rgb(240,255,240);
}
* {
	font-family: 'Alegreya', serif;
}
#dropDown, #wrap {
	height: 10px;
	width: 600px;
	margin: 0 auto;
}
.itemSelect {
	position: relative;
	width: 100px;
	text-align: left;
	font-size: 18px;
	border: solid rgb(24,122,92) 2px;
	background-image: linear-gradient(to top, #F2F7F2 0%, #FFFFFF 100%);
	padding: 6px 16px;
}
.itemSelect:hover {
	background-image: linear-gradient(to top, #F2F7F2 0%, #D5EBDA 100%);
	cursor: pointer;
}
#selectFrom{
    top: 40px;
}
#selectTo{
    top: -64px;
    left: 240px;
}
#swapLanguages {
    position: relative;
    left: 154px;
    top: -12px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-image: url('103185-3d-glossy-green-orb-icon-arrows-arrow1-left-right1.png');
    background-size:90px 90px;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    border: solid rgb(134,172,159) 2px;
}
#swapLanguages:hover {
	border: solid rgb(114,142,123) 2px;
	border-radius: 100px;
}
#textAreaId {
    top: 115px;
    left: 0px;
    background-color: rgba(255,255,255);
    resize: none;
    font-size: 14px;
}
#textAreaId:focus {
    outline: rgb(64,173,112) solid thin !important;
    box-shadow: 0 0 10px 1px rgb(64,173,112);
    border-color: rgb(64,173,112);
    background-color: rgba(255,255,255,.5);
}
#translationTest, #textAreaId {
	position: relative;
    width: 300px;
    height: 100px;
    border: solid lightgray 1px;
    padding: 4px;
}
#translationTest {
    background-color: rgb(230,230,230);
    top: -11px;
    left: 340px;
}
.translate_btn {
	padding: 6px;
	font-size: 18px;
	position: relative;
	top: -54px;
	left: 90px;
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #8BEB7D 100%);
	width: 100px;
	border: solid rgb(157,222,138) 2px;
	border-radius: 4px;
}
.translate_btn:hover {
	border-color: rgb(117,162,98);
}
.translate_btn:active {
	background-image: linear-gradient(to top, #FFFFFF 0%, #8BEB7D 100%);
}