* {
    font-family: 'Signika Negative', sans-serif;
}
.img_container {
    margin: 0 auto;
    width: 750px;
}
.catch_phrase {
    width: 750px;
    margin: 6px auto;
    color: gray;
    font-size: 14px;
}
.itemSelect {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
    background-position: left, center;
    background-repeat: no-repeat;
    color: rgb(70,20,20);
    text-align: center;
    padding: 6px 14px;
    border: solid lightgray 2px;
    cursor:pointer;
    position: relative;
    font-size: 18px;
    width: 100px;
    text-align: left;
}
.itemSelect:active {
    background-image: linear-gradient(to top, #FFFFFF 0%, #EDEDED 100%);
}
.itemSelect:hover, #swapLanguages:hover{
    border-color: rgb(31,85,139);
}
#dropDown, #wrap {
    width:750px;
    margin: 0 auto;
}
#selectFrom{
    left: 0;
    top: 80px;
}
#selectTo{
    top: 4px;
    left: 588px;
}
#swapLanguages {
    position: relative;
    top: 42px;
    left: 344px;
    width: 34px;
    height: 34px;
    background-image: url('swap.png'), linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
    background-size:40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(245,245,245);
    border: solid lightgray 2px;
}
#swapLanguages:active {
    background-image: url('swap.png'), linear-gradient(to top, #FFFFFF 0%, #EDEDED 100%);
}
#translationTest {
    position: relative;
    top: -106px;
    left: 366px;
    width: 350px;
    height: 106px;
    background-color: rgb(230,230,230);
    border: solid lightgray 2px;
}
#textAreaId {
    position: relative;
    left: 0;
    top: 20px;
    width: 350px;
    height: 100px;
    resize: none;
    border: solid lightgray 1px;
    font-size: 16px;
    padding: 4px;
}
#textAreaId:hover {
    box-shadow: inset 0 0 4px gray;
}
#textAreaId:focus {
    outline: rgb(31,85,139) solid thin !important;
    box-shadow: none;
    border-color: rgb(31,85,139);
}
.translate_btn {
    color: white;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(64,201,39);
    width: 110px;
    border: solid rgb(94,168,96) 2px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 60px;
    /*Button position left
    left: -364px;*/
    /*Button position right*/
    left: 246px;
    box-shadow: 0px 0px 10px 1px gray;
}
.translate_btn:hover {
    border-color: rgb(31,85,139);
    cursor: pointer;
}
.translate_btn:active {
    box-shadow: 0px 0px 6px 0px gray;
}